@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

* {
  font-family: 'Life Savers';
}

body {
  background-image: url("./assets/backgroundImage.jpg");
  background-repeat: none;
  background-size: cover;
  backdrop-filter: blur(5px);
  min-height: 100vh;
  position: relative;
}

.chartsDiv {
  min-height: 725px;
  height: 100%;
  width: 65%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.page1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 900px) {
    .page1 {
        display: flex;
        flex-direction: column;
    }
    .chartsDiv{
        width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    .chartComponent2 {
      width: 100%;
    }
  }